@import "bootstrap.min.css"
@import "font-awesome.min.css"
@import "animate.min.css"
@import "responsive.css"

$red = #ff3333
$base1 = #333333

main
    color $red
    background #444    
.slick-next:before
.slick-prev:before
        color $base1
        
menu
    li
        list-style none
        display inline
        color $red
    
    
    
